body {
  background-color: #31313a;
  margin: 1px red;
}
section {
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 20%;
  height: 100vh;
  box-sizing: border-box;
}
.home {
  display: grid;
  place-items: center;
  padding: 20%;
  padding-bottom: 30%;
}
h1 {
  color: #f0f0f0 !important;
}
p h3 {
  color: #f0f0f0 !important;
}
h2,
h5 {
  color: #f26b38;
}
/* section {
  display: block;
  height: 100% !important;
  width: 100% !important;
  box-sizing: border-box;
} */
/* media icons */

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}
.fa-facebook {
  /* background: #3b5998; */
  color: white;
}
.fa-twitter {
  /* background: #55acee; */
  color: white;
}
.fa-linkedin {
  /* background: #007bb5; */
  color: white;
}
.fa-instagram {
  /* background: #125688; */
  color: white;
}
/* glitch effect */
/* insparation from Kevin Powell  */
.home {
  font-size: 6rem;
  font-weight: 700;
  position: relative;

  text-shadow: 0.05em 0 0, #f26b38, -0.025em -0.05em 0 #f0f0f0,
    0.025em 0.05em 0 #31313a;

  animation: glitch 300ms infinite;
}

.home span {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #f26b38, -0.05em -0.025em 0 #f0f0f0,
      -0.025em 0.05em 0 #31313a;
  }
  14% {
    text-shadow: 0.05em 0 0 #f26b38, -0.05em -0.025em 0 #f0f0f0,
      -0.025em 0.05em 0 #31313a;
  }
  15% {
    text-shadow: -0.05em -0.025em 0 #f26b38, 0.025em 0.025em 0 #f0f0f0,
      -0.05em -0.05em 0 #31313a;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #f26b38, 0.025em 0.025em 0 #f0f0f0,
      -0.05em -0.05em 0 #31313a;
  }
  50% {
    text-shadow: 0.025em 0.05em 0 #f26b38, 0.05em 0 0 #f0f0f0,
      0 -0.05em 0 #31313a;
  }
  99% {
    text-shadow: 0.025em 0.05em 0 #f26b38, 0.05em 0 0 #f0f0f0,
      0 -0.05em 0 #31313a;
  }
  100% {
    text-shadow: -0.025em 0 0 #f26b38, -0.025em -0.025em 0 #f0f0f0,
      -0.025em -0.05em 0 #31313a;
  }
}
